{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="jumbotron" style="height: 400px">
        <h3 class="cont"><strong>Contacts</strong></h1>
        <div class="octo">
            <p><strong>Name</strong> : Oleg</p>
            <p><strong>Surname</strong> : Panchyshyn</p>
            <p><strong>Date of birth</strong> : 1992-08-02</p>
            <p style="width: 400px"><strong>About me</strong> :<br>Working, on a free time learn Python,JavaScript,Django.I want to become a full stack Django developer.</p>
        </div>
        <div class="octo_1">
            <p><strong>Email</strong> : octo.oleg@gmail.com</p>
            <p><strong>Jabber</strong> : octo@42cc.co</p>
            <p><strong>Skype</strong> : live:octo.oleg</p>
            <p><strong>Other contacts</strong> : <br>None</p>
        </div>
    </div>
{% endblock %}

