{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
        <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/navbar.css' %}" rel="stylesheet">


        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">42 Coffeecups</a>
                    </div>
                </div>
            </nav>
            <div class="jumbotron" style="height: 400px">
                <h3 class="cont"><strong>Contacts</strong></h1>
                <div class="octo">
                    <p><strong>Name</strong> : Oleg</p>
                    <p><strong>Surname</strong> : Panchyshyn</p>
                    <p><strong>Date of birth</strong> : 1992-08-02</p>
                    <p style="width: 400px"><strong>About me</strong> :<br>Working, on a free time learn Python,JavaScript,Django.I want to become a full stack Django developer.</p>
                </div>
                <div class="octo_1">
                    <p><strong>Email</strong> : octo.oleg@gmail.com</p>
                    <p><strong>Jabber</strong> : octo@42cc.co</p>
                    <p><strong>Skype</strong> : live:octo.oleg</p>
                    <p><strong>Other contacts</strong> : <br>None</p>
                </div>
            </div>
        {% block content %}{% endblock content %}
        </div> 
    </body>
</html>
